{% extends 'home.html'%}

{% load static %}
      
{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
{% endblock bootstrap %} 

{% block content %}
      



<!-- manage section start  -->
<div class="container">
    <div class="row mt-5 justify-content-between ">
        <div class="container">
            <div class="row">
                <h1 class="h1 text-center">Messages</h1>
            </div>
            
        </div>
    </div>
  <div >
   
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">subject</th>
            <th scope="col">message</th>
            <th scope="col">time</th>
            <th>Action</th>
            
          </tr>
        </thead>
        <tbody>
          {% for user in page_obj %}
          
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }} </td>
            <td>{{ user.email }}</td>
            <td>{{ user.subject }}</td>
            <td>{{ user.message }}</td>
            <td>{{ user.time }}</td>

            
            <td>
              <a href="delete_mess/{{ user.id }}"><button class="btn action_btn">Delete Message</button></a>
            </td>
          </tr>
          
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<!-- manage section End  -->

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center"> 
  
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" >&laquo; First</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
    </li>
    {% endif %}
  
    {% if page_obj.number|add:'-2' >= 1 %}  
    <li class="page-item">
      <a class="page-link" href="?page=1">1</a>
    </li>
    {% if page_obj.number > 3 %}
    <li class="page-item">
      <a class="page-link disabled" href="?page={{page_obj.number|add:'-2'}}">&hellip;</a>
    </li>
    {% endif %}
    {% endif %}
  

    
    {% for i in page_obj.paginator.page_range %}
    {% if i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}
    <li class="page-item">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}

    
    {% if page_obj.paginator.num_pages >= page_obj.number|add:'2' %}
    {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
    <li class="page-item">
      <a class="page-link " href="#">&hellip;</a>
    </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    </li>
    {% endif %}


  
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Last &raquo;</a>
    </li>
    
    {% endif %}
  

  </ul>
</nav>  

{% endblock content %}