{% extends "home.html" %}
{% load static %}

{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
{% endblock bootstrap %}

{% block css %}
<style>
 .form{
  margin-top: 150px;
 }
 .cft1{
  border-radius: 0%;
 }
 .cb1{
  color: coral;
  border: 1px solid coral;
 }
 .cb1:hover{
  background-color: coral;
  color: white;
 }
 .login{
  color: darkgray;
  text-decoration: none;
 }
 .login:hover{
  color: chocolate;
  text-decoration: none;
 }
</style>
{% endblock css %}


{% block content %}
      <div class="container form">

        <!-- SIGNUP section start -->
        <div class="row justify-content-center mb-5">
            <div class="col-lg-6 col-md-8 col-11 border p-3">
                <h1 class="l2 text-center mx-auto">Login FORM</h1>
                <hr class="mx-auto " style="width: 80%; color: coral;">
                
                <form action="/login" method="POST">
                  
                  {% csrf_token %}
                    <div>
                      <label for="username" class="form-label my-3">User Name</label>
                      <input required type="text" name="username" class="form-control cft1" placeholder="Enter Your User Name" id="exampleInputEmail1" aria-describedby="emailHelp">
                      
                    </div>
                    
                    <div>
                        <label for="password1" class="form-label my-3">Password</label>
                        <input required type="password" name="password" class="form-control cft1" placeholder="Password">
                    </div>
                    
                    <div class="d-flex justify-content-between">
                      <div class="col-3"> 
                          <button class="btn cb1 my-3" >Login</button>
                      </div>
                      <div class="col-7 col-md-5 mt-4">
                          <a href="/register" class="login ">Don't have an account?</a>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
        <!-- SIGNUP section end -->

    </div>


    {% endblock content %}
